html {
  font-family: "Roboto", sans-serif;
}


.icons-social i {
  font-size: 3em;
}

/* Custom Styles */


.tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
}

.icons-social i {
  padding: 10px;
}

.icons-social a {
  text-decoration: none;
}

.devto {
  margin-bottom: -0.2rem;
}

.devto svg {
  margin-bottom: -0.2rem;
  margin-left: 0.675rem;
  width: 2.65rem;
  height: 2.65rem;
}


.icons-social a {
  color: white;
}

.icons-social a svg path {
  fill: white;
}

body {
  margin: 0; /* Ajusta los márgenes según sea necesario */
  color: white;
}

main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-R1WJ1BTLYFgux7EKSbzjM_WkY34f8npLjBEk0BhuBr6dsZ8y1SVvG3XWlvGvPXuZ-Lo&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  color: transparent; /* Establece el color del texto en transparente */
  text-shadow: 0 0 0 white; /* Ajusta el relleno según sea necesario */
   display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
}


@media (max-width: 500px) {
  .intro {
    font-size: 50px;
  }
}

@media (min-width: 501px) {
  .intro {
    font-size: 100px;
  }
}
